.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}
.btn-sm{
    padding: 2px 3px;
    font-size: 11px;
}
.text-desc{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btnIcon{
    visibility: hidden;
    cursor: pointer;
}
.btnTaskIcon:hover .btnIcon{
    visibility: visible;
}
.btnTaskIcon:hover .text-desc{
    -webkit-line-clamp: 4;
    transition: 2s;
}