.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}
.col-sm-11{
    text-align: start;
}
.btn-sm{
    padding: 2px 3px;
    font-size: 11px;
}